.mylifestyle {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.deskripsiMylifestyle1 {
    -fx-font-family: "Baskerville Old Face";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}

.deskripsiMylifestyle2 {
    -fx-font-family: "Baskerville Old Face";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.background {
    -fx-background-image: url("foto/MyLifeStyle.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.judul {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.judul1 {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.judul2 {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

.judul3 {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.judul4 {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.inputan {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.hboxHistory {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-spacing: 150px;
    -fx-background-radius: 25px; 
}

.history {
    -fx-font-family: "Arial";
    -fx-text-fill: #000;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.buttonHistory {
    -fx-font-family: "Arial";
    -fx-text-fill: #ffffff;
    -fx-background-color: #70d446;
    -fx-font-size: 18px;
    -fx-pref-width: 120px;
    -fx-pref-height: 70px;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
}

.judulInput {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.judulKlik {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13px;
}

.buttonLogin {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(0, 21, 112);
    -fx-font-size: 18px;
    -fx-pref-width: 200px;
    -fx-pref-height: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
}

.deskripsiRegister {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 17px;
}

.tabelInput {
    -fx-pref-width: 240px;
    -fx-pref-height: 30px;
}

.transparanInput {
    -fx-font-family: "Arial";
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.deskripsiWelcome {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.buttonWelcome {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(0, 21, 112);
    -fx-font-size: 18px;
    -fx-pref-width: 140px;
    -fx-pref-height: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
}

.buttonInput {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-background-color: #050083;
    -fx-background-radius: 0;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-padding: 10 20;
    -fx-alignment: center;
}

.buttonBack {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonInput:focused,
.buttonInput:pressed {
    -fx-border-color: rgb(227, 0, 0);
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.warning {
    -fx-font-family: "Times New Roman";
    -fx-text-fill: rgb(204, 4, 4);
    -fx-font-size: 15px;
}

.buttonInput:pressed,
.buttonInput:selected {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
